.chat-group-form
  %h1 新規チャットグループ
  - if @group.errors.any?
    .chat-group-form__errors
      %h2
        = "#{@group.errors.count}件のエラーが発生しました。"
        %ul
          - @group.errors.full_messages.each do |msg|
            %li
              = msg
  = form_for @group do |f|
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label :グループ名, '', class: "chat-group-form__label"
      .chat-group-form__field--right
        = f.text_field :name, placeholder: "グループ名を入力してください", class: "chat-group-form__input", id: "chat_group_name"
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        %label.chat-group-form__label{for: "user_search"} チャットメンバーを追加
      .chat-group-form__field--right#user-search
        %input.chat-group-form__input{:placeholder => "追加したいユーザー名を入力してください", :id => "user-search-field"}
          .chat-group-form__field--right#user-search-result1
          .chat-group-user.clearfix#removehere
            %li.chat-group-user__name
            %a.chat-group-user__btn.chat-group-user__btn--add{:class => ".user-search-add", "data-user-id" => "user.id", "data-user-name" => "user.name"}
      .chat-group-form__field--right
    .chat-group-form__search.clearfix
      .div#user-search-result
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label :user_search, "チャットメンバー", class: "chat-group-form__label"
      .chat-group-form__field--right
        #chat-group-users
        %input{ name: "group[user_ids][]", type: "hidden", value: " #{ current_user.id } " }
      .chat-group-form__field--right#user-search-result2
        %ul
          %li
            %p.chat-group-user__name
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
      .chat-group-form__field--right
        = f.submit "SAVE", class: 'chat-group-form__action-btn'
