.chat-area
.area
  .start.js-messages
    - @messages.each do |message|
      %ul
        %li.user
          = message.user.name
        %li.timestamp
          = message.created_at
        %li.textinchat
          = message.body
        %li.textinchat
          = image_tag message.image
  .end#end
= form_for [@group, @message],  html: {id: 'btninindex'} do |f|
  .writingbox__wrapper
    .writingbox
      .writingbox__where
        = f.text_field :body, :placeholder => "this is palceholder", :class => "textingfield"
      .sendbuttonbox
        .submit_button#submit_button
          = f.submit "Send", :class=>"btninindex"
      .pic
        %i.fa.fa-picture-o
          = f.label :image, :class =>"msgimg"
          = f.file_field  :image, :class =>"massage_image"
